<ul>
    <li class="widget clearfix" itemscope itemtype="http://schema.org/SoftwareApplication">
        <h3>About <strong itemprop="name">SiteCheckr</strong></h3>
        <img src="{{ site.base }}/res/imgs/logo.png" itemprop="image" alt="Logo: SiteCheckr" title="SiteCheckr" class="alignleft" width="64" height="64"/>
        <p itemprop="description">
        	SiteCheckr is a Firefox addon, which allows you to check your website.
        </p>
        <div itemtype="http://schema.org/Offer" itemscope="" itemprop="offers" class="hidden">
        	<meta content="0" itemprop="price" />
        	<meta content="EUR" itemprop="priceCurrency" />
        	<link href="http://schema.org/InStock" itemprop="availability" />
        </div>
    </li>
</ul>

