{% include setup %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}{% if site.title  %} | {{ site.title }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/syntax.css" />
    <link rel="icon" href="{{ ASSET_PATH }}/images/favicon.ico" type="image/x-icon">
    
    <meta charset="UTF-8" />
    
    <meta name="viewport" content="width=device-width">

	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="keywords" content="{{site.keywords}}{% if page.keywords %}, {{ page.keywords }}{% endif %}">
	
	<meta property="og:title" content="SiteCheckr">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ BASE_URL }}{{ page.url | replace:'index.html','' }}">
	<meta property="og:image" content="{{ BASE_URL }}{{ ASSET_PATH }}/images/social/preview.png">
	<meta property="og:description" content="">

	{% if page.noindex %}<meta name="robots" content="noindex">{% endif %}

	<link rel="canonical" href="{{ BASE_URL }}{{ page.url | replace:'index.html','' }}">
	
</head>
<body>
    <div id="wrap">
        <header>
        	<div id="header-nav">
        		<form action="{{ BASE_PATH}}/search/" id="searchform" method="get">
        			<input type="text" placeholder="Search" id="q" name="q" class="field"><input type="submit" value="Search" id="searchsubmit" name="submit" class="submit">
        		</form>
        	</div>
            <h1><a href="{{ BASE_PATH }}/" title="SiteCheckr">SiteCheckr</a></h1>
            {% include header/navigation.html %}
        </header>

        <div id="content" class="clearfix">
            
            {{ content }}

        </div>

        <aside class="sidebar clearfix">
            <section id="first">
                {% include footer/about.html %}
            </section>
            <section id="second">
                {% include footer/news.html %}
            </section>
            <section id="third">
                {% include footer/links.html %}
            </section>
        </aside>

        <footer>
            &copy; {{ site.time | date: "%Y" }}
            <a href="http://www.sebastianstoehr.de/" title="Sebastian Stöhr" rel="author external">Sebastian Stöhr</a> | <a href="{{ BASE_PATH }}/impressum/" title="Impressum">Impressum</a>
        </footer>
    </div>
    
    {% include tracking/ga.html %}
</body>